.coupon-box{
  position: relative;
  .mask-button{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 100;
  }
  .coupon-list-box{
    border-radius: 12px;
    background: #FFF;
    // margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    .shop-line-icon{
      position: absolute;
      left: 0;
      top: 0;
      width: 88px;
      height: 34px;
    }
    .coupon-list{
      display: flex;
      // padding: 24px;
      padding: 50px 28px;
      .coupon-list--info{
        flex: 1;
        display: flex;
        height: 120px;
        .info-img{
          flex-shrink: 0;
          width: 186px;
          height: 110px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #F92051;
          border-right: 2px dashed rgba(235,235,235,1);
          .price-box{
            line-height: 1;
            text-align: center;
            .sign{
              font-size: 32px;
              .font-w-bo{
                font-weight: 600;
              }
              .amount{
                font-size: 66px;
              }
              .amount-1{
                font-size: 48px;
              }
            }
            .intro{
              margin-top: 14px;
              font-size: 20px;
            }
          }
        }
        .info-detail{
          padding: 4px 0px 4px 24px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .titles{
            width: 248px;
            height: 68px;
            font-size: 28px;
            font-family:PingFangSC;
            font-weight:500;
            color:#262626;
            line-height:34px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow:hidden;
            -webkit-box-orient: vertical;
          }
          .price{
            font-size: 20px;
            color: #ACACAC;
            // margin-top: 18px;
            // display: flex;
            // align-items: center;
            // .money{
            //     color: #F92051;
            //     font-size: 40px;
            //     float: left;
            //     .sign{
            //         font-size: 24px;
            //     }
            // }
            .reduction{
              margin-left: 26px;
              border-radius: 4px;
              float: left;
              padding: 6px 12px;
              line-height: 1;
              font-size: 20px;
              color: #FFF;
              background: #f92051;
            }
          }
        }
      }
      .coupon-list--handle{
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border-left: 1px dashed #efefef;
        .circle{
          display: flex;
          justify-content: center;
          .handle{
            padding-top: 14px;
            padding-bottom: 14px;
            text-align: center;
            .surplus{
              height:28px;
              font-size:20px;
              font-family:PingFangSC;
              font-weight:300;
              color:rgba(140,140,140,1);
              line-height:28px;
              text-align: center;
            }
            .proportion{
              height:18px;
              font-size:20px;
              font-family:HelveticaNeue;
              font-weight:300;
              color:rgba(255,26,81,1);
              line-height:18px;
              text-align: center;
            }
          }
        }
        .handle-btn-box{
          display: flex;
          justify-content: center;
          .handle-btn{
            width:128px;
            height:48px;
            background:rgba(249,32,81,1);
            border-radius:44px;
            line-height: 48px;
            color: #FFF;
            font-size: 24px;
            margin-top: 0px;
            text-align: center;
          }
          .handle-btn--active{
            background:rgba(249,32,81,0.7);
          }
          .handle-btn-disabled{
            width:128px;
            height:48px;
            border-radius:44px;
            line-height: 48px;
            font-size: 24px;
            margin-top: 10px;
          }
        }
      }
    }
    .coupon-describe{
      display: flex;
      align-items: center;
      height: 54px;
      padding-left: 34px;
      border-top: 2px solid #E0E0E0;
      .coupon-describe-img{
        width: 28px;
        height: 28px;
      }
      .coupon-describe-text{
        margin-left: 10px;
        color: #8C8C8C;
        font-size: 24px;
      }
    }
  }

}
