.floor1 {
  .floor1-banner {
    width: calc(100% + 46px);
    margin-left: -23px;
  }
  .floor1-item {
    margin-bottom: 15px;
  }
  .floor1-clear {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 148px;
    width: 242px;
    height: 197px;
    &.disable {
      display: none;
    }
  }
}
