.other-floor {
  // display: flex;
  // flex-wrap: wrap;
  .other-img {
    max-width: calc(100% + 46px);
    margin-left: -23px;
    max-height: 200px;
    object-fit: cover;
  }
  .other-coupon-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px 24px;
  }
}
