.koi-activity-rule {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;

  &-head {
    width: 702px;
    height: 35px;
    display: inline-block;
  }
  &-bottom {
    width: 702px;
    height: 35px;
    transform: rotateX(180deg);
  }
  &-area {
    width: 702px;
    border-left: 1px solid #EB9F76;
    border-right: 1px solid #EB9F76;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: -1px 0;

    &-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-icon {
        width: 24px;
        height: 14px;
      }
      &-title {
        font-size: 32px;
        color: #E88C5A;
        margin: 0 18px;
      }
    }

    &-body {
      display: flex;
      flex-direction: column;
      padding: 0 40px;
      margin: 48px 0 0 0;
      &-item {
        display: flex;
        flex-direction: column;
        padding: 32px 0 22px 0;
        border-bottom: 1px solid rgba(174,147,126,0.2);
        &-title {
          font-size: 28px;
          font-weight: normal;
          color: #E88C5A;
          margin: 0 0 18px 0;
        }
        &-content {
          font-size: 26px;
          font-weight: normal;
          color: #AE937E;
        }
      }
      &-tips {
        font-size: 24px;
        font-weight: normal;
        color: #C99857;
      }
    }
  }
}
p {
  margin-bottom: 0 !important;
}