.activity-modal{
    background: #B70117;
    overflow-y: scroll;
    padding-bottom: 48px;
    .banner{
        width: 100%;
        overflow: hidden;
        .img{
            width: 100%;
            float: left;
        }
    }
    .box{
        box-sizing: border-box;
        overflow: scroll;
    }
    .coupon-list{
        margin-top: -288px;
        height: 289px;
        padding-left: 24px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        // justify-content: space-between;
        width: auto;
        // min-width: 100%;
        box-sizing: border-box;
        
        .coupon-item{
            width: 226px;
            height: 241px;
            flex-shrink: 0;
            margin-right: 12px;
            background: url('../../assets/coupon-bac-item.png');
            // background-image: ;
            background-size: 100% 100%;
            
            .top{
                // color: #BA1D3A;
                text-align: center;
                letter-spacing: 0;
                box-sizing: border-box;
                padding-top: 8px;
                .price{
                    font-size: 76px;
                    line-height: 1;
                    height: 80px;
                    letter-spacing: 0;
                    .sign{
                        font-size: 24px;
                    }
                    .money{
                        display: inline-block;
                        line-height: 1;
                        // box-sizing: border-box;
                        font-weight: 600;
                    }
                }
                .reduction{
                    font-size: 26px;
                    font-weight: 600;
                    // margin-top: 8px;
                }
                .limit{
                    font-size: 20px;
                    // margin-top: 8px;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 0 16px;
                    height: 20px;
                    line-height: 20px;
                    margin-top: 6px;
                }
            }
            .bottom{
                padding-top: 36px;
                width: 100%;
                text-align: center;
                overflow: hidden;
                display: flex;
                justify-content: center;
                button{
                    height: 34px;
                    // background: #BA1D3A;
                    // width: 120px;
                    box-sizing: border-box;
                    border: none;
                    font-size: 20px;
                    color: #FFFFFF;
                    border-radius: 17px;
                    padding: 0 14px;
                    line-height: 1;
                    float: left;
                    &:focus{outline: none;}
                }
            }
        }
    }
    .top-floor{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10001;
    }
    .tabs-content{
        padding: 22px 23px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .tabs-content-item{
            background: #FFF;
            width: 704px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            border-radius: 6px;
            .img{
                width: 300px;
                height: 300px;
                border-radius: 6px;
                flex-shrink: 0;
            }
            .info{
                flex: 1;
                color: #262626;
                .name{
                    // height:50px;
                    font-size:36px;
                    font-weight:600;
                    line-height:50px;
                    padding-top: 60px;
                }
                .title{
                    // height:33px;
                    font-size:24px;
                    font-weight:400;
                    line-height: 33px;
                    padding-top: 6px;
                }
                .activity{
                    font-size: 24px;
                    // height:33px;
                    line-height: 33px;
                    font-weight:400;
                    padding-top: 10px;
                    color: #94040E;
                    .price{
                        color: #EB1E4D;
                        height:66px;
                        font-size:56px;
                        line-height: 66px;
                        font-weight:bold;
                    }
                    .origin-price{
                        height:33px;
                        font-size:24px;
                        font-weight:400;
                        line-height:33px;
                        padding-left: 12px;
                        text-decoration: line-through;
                    }
                }
                .btn{
                    margin-top: 12px;
                    background:#EB1E4D;
                    border-radius:21px;
                    font-size:24px;
                    font-weight:500;
                    color:#FEEAE2;
                    // line-height: 1;
                    display: flex;
                    align-items: center;
                    float: left;
                    padding: 0 16px;
                    height: 36px;
                }
            }
        }
    }
    .tabs-content-2{
        .tabs-content-item{
            width: 340px;
            flex-direction: row;
            flex-wrap: wrap;
            .img{
                width: 340px;
            }
            .info{
                .name{
                    padding-top: 0;
                    padding-left: 15px;
                }
                .title{
                    padding-top: 3px;
                    padding-left: 15px;
                }
                .col-2{
                    display: flex;
                    justify-content: space-between;
                    .activity{
                        width: 156px;
                        flex-shrink: 0;
                        padding: 0 15px;
                        position: relative;
                        box-sizing: border-box;
                        .name{
                            height:33px;
                            font-size:24px;
                            font-weight:400;
                            color:rgba(148,4,14,1);
                            line-height:33px;
                            display: inline-block;
                            width: 100%;
                            padding-left: 0;
                        }
                        .price{
                            height:66px;
                            font-size:50px;
                            font-weight:bold;
                            color:rgba(235,30,77,1);
                            line-height:66px;
                            // font-family:DINAlternate-Bold,DINAlternate;
                            .sign{
                                color: #BA1D3A;
                                font-size:24px;
                            }
                        }
                    }
                    .activity::after{
                        content: '';
                        width:1px;
                        height:70px;
                        border-left: 1px solid #CA9295;
                        border-radius:1px;
                        position: absolute;
                        right: 0;
                        top: 10px;
                    }
                    .price{
                        padding-top: 10px;
                        .origin-price{
                            color: #CA9295;
                            height:33px;
                            font-size:24px;
                            font-weight:400;
                            line-height:33px;
                            float: left;
                            width: 100%;
                            padding-left: 34px;
                            box-sizing: border-box;
                            text-decoration: line-through;
                        }
                        .btn{
                            margin-left: 22px;
                        }
                    }
                }
            }
        }
    }
    .banner-icon{
        width: 100%;
        float: left;
    }
    .custom-list{
        display: flex;
        // justify-content: space-between;
        padding: 0 24px;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        .custom-item{
            flex-shrink: 0;
            width: 230px;
            margin-right: 6px;
            border-radius: 6px;
            background: #FFF;
            .img{
                width: 230px;
                height: 230px;
                img{
                    width: 230px;
                    height: 230px;
                    border-radius: 6px;
                }
            }
            .goods-info{
                padding: 16px 13px 12px;
                background: #FFF1EB;
                .title{
                    width: 204px;
                    line-height: 1;
                    color: #262626;
                    font-size: 26px;
                }
                .price{
                    margin-top: 12px;
                    color: #F92051;
                    line-height: 1;
                    display: flex;
                    align-items: flex-end;
                    .sign{
                        font-size: 20px;
                        float: left;
                    }
                    .amount{
                        font-size: 32px;
                        float: left;
                    }
                    .origin-price{
                        color: #262626;
                        font-size: 22px;
                        text-decoration: line-through;
                        margin-left: 3px;
                        float: left;
                    }
                }
                .btn{
                    background: #EB1E4D;
                    color: #FFFFFF;
                    width: 100%;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    font-size: 24px;
                    text-align: center;
                    border-radius: 6px;
                    margin-top: 15px;
                    justify-content: center;
                }
            }
        }
    }
    .white-space{
        width: 24px;
        flex-shrink: 0;
    }
    .points{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .width310{
        width: 310px;
    }
    .width380{
        width: 380px;
    }
}
*{
    margin: 0;
    padding: 0;
}
.white-space-none{
    margin-right: 0!important;
}
