.toast {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  z-index: 9999;
  .box {
    width: 652px;
    height: 470px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    text-align: center;
    padding: 0 65px;
  }
  .icon {
    width: 126px;
    height: 148px;
    margin-top: 130px;
  }
  .msg {
    font-size: 36px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;
  }
}
