.cif {
  width: 226px;
  height: 354px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin-top: 10px;
  margin-right: 8px;
  position: relative;
  overflow: hidden;
  .cif-header {
    padding-top: 24px;
    text-align: center;
  }
  .cif-logo {
    width: 152px;
    height: 152px;
    line-height: 152px;
    background: rgba(86, 115, 97, 1);
    color: #fff;
    font-size: 26px;
    border-radius: 50%;
    text-align: center;
    margin: auto;
  }
  .cif-money {
    font-size: 20px;
    color: #f92051;
    text-align: center;
    .cif-money-num {
      font-size: 46px;
    }
  }
  .cif-footer {
    position: absolute;
    height: 119px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffefef;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .cif-limit {
    font-size: 18px;
    font-weight: 400;
    color: rgba(38, 38, 38, 1);
    white-space: nowrap;
  }
  .cif-btn {
    width: 190px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    background: rgba(249, 32, 81, 1);
    border-radius: 22px;
    color: #fff;
    margin: auto;
  }
}
