.lot-aj{
    .img{
        width: 100%;
        float: left;
    }
    .lot-info{
        width: 100%;
        background: #111;
        overflow: hidden;
    }
    .coupon-id{
        color: #FFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        .num{
            border: 1px solid #FFF;
            width: 80px;
            height: 80px;
            display: inline-block;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .lot-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            width: 290px;
            background: #B8986C;
            font-size: 28px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
        }
    }
    .base-code-body-barcode{
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
    }
    /* 半透明遮罩层 */
    .cover {
        background-size: 50%;
        background: rgba(0, 0, 0, 0.7) no-repeat top right;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .img{
            width: 750px;
            height: 720px;
            position: relative;
        }
        .info{
            position: absolute;
            color: #FFF;
            text-align: center;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            justify-content: center;
            align-items: center;
            display: flex;
            margin-top: 200px;
            .title{
                font-size: 60px;
                font-weight: bold;
            }
            .times{
                font-size: 22px;
                margin-top: 12px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .btn{
                width: 100%;
                margin-top: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                .btn-img{
                    width: 484px;
                }
            }
        }
    }
}