.ft-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  .ft-ball {
    border-radius: 50%;
    background-color: #f6d3cd;
    margin-right: 16px;
    &.big {
      width: 16px;
      height: 16px;
    }
    &.middle {
      width: 12px;
      height: 12px;
    }
    &.small {
      width: 8px;
      height: 8px;
    }
  }
  .ft-body {
    text-align: center;
    padding: 0 10px;
    // display: flex;
    // flex-wrap: wrap;
  }
  .ft-title {
    font-weight: bold;
  }
  .ft-label {
    font-size: 24px;
  }
}
