.koi {
  height: 100vh;
  background-image: url(../../assets/koi/koi_index_bg.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  &-img {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
  &-titleimg {
    width: 676px;
    display: flex;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
  &-bottomimg {
    position: absolute;
    bottom: -352px;
    width: 100%;
  }
  &-btnimg {
    position: absolute;
    bottom: 0px;
    width: 467px;
    height: 202px;
    z-index: 20;
  }
  &-ruleicon {
    position: absolute;
    top: 178px;
    right: 0;
    width: 48px;
    height: 81px;
    z-index: 1000;
  }
}

.koi-activity {
  min-height: 100vh;
  background-color: #fedac0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-image: url("../../assets/koi/koi_bg.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  &-img {
    width: 100%;
    display: flex;
  }
  &-lottery-area {
    width: 702px;
    border-left: 1px solid #EB9F76;
    border-right: 1px solid #EB9F76;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-head {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-icon {
        width: 24px;
        height: 14px;
      }
      &-title {
        font-size: 32px;
        color: #F32431;
        margin: 0 18px;
      }
    }
    &-instruction {
      width: 514px;
      font-size: 28px;
      color: #262626;
      text-align: center;
      font-weight: 500;
      margin: 57px 0 64px 0;
      display: flex;
      flex-direction: column;
      &-big {
        font-size: 68px;
        color: #F92656;
      }
    }
    &-btn {
      width: 470px;
      height: 81px;
      margin-top: 10px;
    }
    &-upload {
      color: #F32431;
      font-size: 24px;
      font-weight: 400;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 28px;
      &-icon {
        width: 22px;
        height: 22px;
        margin-right: 12px;
      }
    }
  }
  &-first {
    margin-top: 640px;
    margin-bottom: 12px;
  }
  &-head {
    width: 702px;
    display: inline-block;
    height: 35px;
  }
  &-bottom {
    width: 702px;
    height: 35px;
    transform: rotateX(180deg);
  }
}

p {
  margin-bottom: 0 !important;
}