.tipspop {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  &-bodybg {
    width: 750px;
    z-index: 1100;
  }
  &-body {
    width: 750px;
    height: 720px;
    z-index: 1200;
  }
  &-closebtn {
    position: absolute;
    top: 0;
    width: 58px;
    height: 58px;
    right: 100px;
    z-index: 1300;
  }
  &-btn {
    width: 464px;
    height: 86px;
    position: absolute;
    bottom: 92px;
    z-index: 1300;
  }
  &-tips {
    color: #FFFFFF;
    position: absolute;
    top: 270px;
    z-index: 1200;
    font-size: 60px;
    text-align: center;
    &-small {
      font-size: 26px;
      font-weight: 400;
      color: #FFFFFF;
      line-height: 36px;
      width: 400px;
    }
  }
}
