.cif {
  width: 226px;
  height: 415px;
  background: #F3EEF2;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 8px;
  position: relative;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  .cif-header {
    // padding-top: 24px;
    text-align: center;
    width: 100%;
  }
  .cif-logo {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
    // line-height: 152px;
    background: rgba(86, 115, 97, 1);
    color: #fff;
    // border-radius: 40px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &-img {
      width: 226px;
      height: 226px;
      border-radius: 8px;
      flex-shrink: 0;
    }
    &-text {
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .cif-money {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    &-real {
      font-size: 32px;
      font-weight: 500;
      color: rgba(249,32,81,1);
      &-unit {
        font-size: 20px;
      }
      &-decimal {
        font-size: 22px;
      }
    }
    &-origin {
      font-size: 22px;
      font-weight: 400;
      color: rgba(38,38,38,0.2);
      text-decoration: line-through;
    }
  }
  .cif-footer {
    padding: 0px 6px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    &.top{
      margin-top: 30px;
    }
  }
  .cif-limit {
    font-size: 20px;
    font-weight: 400;
    color: #8c8c8c;
    white-space: nowrap;
  }
  .cif-btn {
    width: 200px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 24px;
    background: rgba(249, 32, 81, 1);
    border-radius: 6px;
    color: #fff;
    margin: auto;
    position: absolute;
    bottom: 10px;
    &-disable {
      color: #bfbfbf;
      background: #fcfcfc;
    }
  }
  .cif-name {
    margin-top: 16px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 26px;
    line-height: 30px;
    width: 215px;
    height: 60px;
    color: #262626;
    text-align: left;
  }
}
.img-mask{
  position: absolute;
  width: 226px;
  height: 226px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  left: 0;
  top: 0;
}

