.other-floor {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  .other-img {
    width: calc(100% + 46px);
    margin-left: -23px;
    margin-right: -23px;
    max-height: 200px;
    object-fit: cover;
  }
}
.other {
  position: relative;;
}
.watch-more {
  width: 274px;
  height: 65px;
  line-height: 65px;
  background: rgba(255,255,255,1);
  border-radius: 39px;
  border: 1px solid rgba(235,30,77,1);
  font-size: 28px;
  font-weight: 600;
  color: rgba(114,59,53,1);
  text-align: center;
  margin-left: 50%;
  margin-top: 52px;
  transform: translateX(-50%);
}
